.container{
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
p{
    position: absolute;
}
@media only screen and (min-width: 1400px) and (max-width:2000px) {
    .container {background: rgb(188, 92, 195);}
    .one p {opacity: 1;}
    .two p {opacity: 0;}
    .three p {opacity: 0;}
    .four p {opacity: 0;}
    .six p {opacity: 0;}
    .seven p {opacity: 0;}
}
@media only screen and (min-width: 993px) and (max-width:1399px) {
    .container {background: red;}
    .one p {opacity: 0;}
    .two p {opacity: 1;}
    .three p {opacity: 0;}
    .four p {opacity: 0;}
    .six p {opacity: 0;}
    .seven p {opacity: 0;}
}
@media only screen and (min-width: 769px) and (max-width:992px) {
    .container {background: pink;}
    .one p {opacity: 0;}
    .two p {opacity: 0;}
    .three p {opacity: 1;}
    .four p {opacity: 0;}
    .six p {opacity: 0;}
    .seven p {opacity: 0;}
}
@media only screen and (min-width: 575px) and (max-width:767px) {
    .container {background: rgb(75, 2, 234);}
    .one p {opacity: 0;}
    .two p {opacity: 0;}
    .three p {opacity: 0;}
    .four p {opacity: 1;}
    .six p {opacity: 0;}
    .seven p {opacity: 0;}
}
@media only screen and (max-width: 574px) {
    .container {background: green;}
    .one p {opacity: 0;}
    .two p {opacity: 0;}
    .three p {opacity: 0;}
    .four p {opacity: 0;}
    .six p {opacity: 1;}
    .seven p {opacity: 0;}
}