body{
    max-width: 1200px;
}
.navbar{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}
.two{
    margin-left: auto;
}
li{
    list-style: none;
    
}
.row{
    display: flex;
    flex-direction: row;
    
   
}
.col{
    width: 50%;
}
.col-1{
    width: 200px;
    margin-left: 150px;
    margin-bottom: 30px;
}
footer{
    text-align: center;
    background-color: rgb(222, 217, 217);
    
}
nav .bor{
    border: 2px solid gray;
    color: gray;
}
.but{
   padding: 15px;
   color: white;
    margin-right:450px;
    text-align: center;
    background-color: blue;
}
.purp{
    border: 2px solid gray;
    color:purple;
    margin-left: 500px;
    margin-right: 500px;
    padding: 10px;
    background-color: aliceblue;
}
nav img{
    width: 20px;
}
@media only screen and (min-width: 768px) and (max-width:1024px) {
    .row  {
         flex-wrap: wrap;
         flex-direction: column-reverse;
    }
    .col{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .purp{
        background-color: aliceblue;
        margin:20px;
        text-align: center;
    }
    .but{
        margin:0;
        width: 100%;
        text-align: center;
    }
}
@media only screen and (min-width: 205px) and (max-width:767px) {
    .row  {
         flex-wrap: wrap;
         flex-direction: column-reverse;
    }
    .col{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .purp{
        background-color: aliceblue;
        margin:20px;
        text-align: center;
    }
    .but{
        margin:0;
        width: 100%;
        text-align: center;
    }
    .col-1{
      margin:0;
      
    }
}