body {
    background-color: #fff;
    color: #333;
    font: 1em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  .cards {
    margin-bottom: 20px;
    max-width: 800px;
  }
  .row {
    display: flex;
    border: 1px solid #999;
    border-radius: 3px;
    flex-direction: row;
  }
  .pic{
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1523800503107-5bc3ba2a6f81?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNvZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  }
  .pic1{
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1575089976121-8ed7b2a54265?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  }
  .col{
    width: 60%;
  }
  h4{
    color:#a2a2a2;
  }
  a{
    margin-left: 380px;
    color:#5ad67d;
  }
  @media only screen and (min-width: 400px) and (max-width:640px) {
    .row{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

}
