.container{
    max-width: 800px;
}
.shp{
    width: 800px;
    height: 800px;
    border: solid 2px rgba(42, 21, 2, 0.912);
    background-color:rgba(255, 255, 255, 0.666);
}
.one{
    margin-top:230px;
}
.row{
    display: flex;
    position: relative;
    margin-left: 230px;
}
.col{
    width: calc(100%/4);
    background-color:white;
    border: solid 2px;
    height: 150px;
    margin:10px;
    filter:grayscale(0);
    z-index: 9;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(246, 109, 12, 0.5);
    position: absolute;
    transition: all 5s;
}
.container:hover .two .overlay{
    opacity:0;
    transform: translate(-300%,-280%);
}
.container:hover .three .overlay{
    opacity:0;
    transform: translate( 300%,-280%);
}
.container:hover .four .overlay{
    opacity:0;
    transform: translate( -280%, 250%);
}
.container:hover .five .overlay{
    opacity:0;
    transform: translate(  280%, 250%);
}