.container{
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

@media only screen and (min-width: 1024px) and (max-width:2000px) {
    .container {background: rgb(18, 102, 138);}
    .one p {
            background-color: white;
            border: solid 20px;
            border-color: white;
            border-radius: 10%;
            text-align: center;
            margin-left: 130px;
            margin-right: 130px;
    }
    img{
        width: 400px;
        height: 300px;
        border: 30px solid;
        border-color: gray;
    }
    .two  {display: none;}

    .three  {display: none}
}
@media only screen and (min-width: 768px) and (max-width:1024px) {
    .container {background: rgb(247, 143, 143);}
    .one {display: none}
    .two p { background-color: white;
        border: solid 20px;
        border-color: white;
        border-radius: 10%;
        text-align: center;
        margin-left: 80px;
        margin-right: 80px;}
        img{
            width: 400px;
            height: 300px;
            border: 30px solid;
            border-color: gray;
        }
    .three {display: none}
   
}
@media only screen and (min-width: 425px) and (max-width:767px) {
    .container {background: rgb(9, 104, 25);}
    .one {display: none}
    .two {display: none}
    .three p { background-color: white;
        border: solid 20px;
        border-color: white;
        border-radius: 5%;
        text-align: center;
        margin-left: 80px;
        margin-right: 80px;}
        img{
            width: 400px;
            height: 300px;
            border: 30px solid;
            border-color: gray;
        }
    }
@media only screen and (min-width: 0px) and (max-width:424px) {
    .container {background: rgb(249, 249, 249);}
    .one{display: none;}
    .two{display: none;}
    .three{display: none;}}