.container {
  max-width: 500px;
}
.shp {
  border: 2px solid gray;
  padding: 20px;
  height: 400px;
  position: relative;
}
.row {
  margin-left: 50px;
}
h3 {
  position: absolute;
  width: 70px;
  top: -30px;
  background-color: white;
}
