.shp {
  background-color: blue;
  width: 100px;
  height: 100px;
}
.shp-1 {
  background-color: green;
  width: 100px;
  height: 100px;
}
.shp-1:hover {
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
  width: 800px;
  height: 100px;
}
.shp:active {
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition: 2s;
  width: 800px;
  height: 100px;
}
